{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<!-- Stats Row Starts Here -->

<div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <div class="shadow bg-nav border-l-8 hover:bg-nav-item border-nav mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'tablitsa' %}" class="no-underline text-white text-2xl">
                <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_count}}
            </a>
            <a href="{% url 'tablitsa' %}" class="no-underline text-white text-lg">
                Kelib tushgan umumiy arizalar soni
            </a>
        </div>
    </div>

    <div class="shadow bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_yangi' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_status_yangi}}
            </a>
            <a href="{% url 'status_yangi' %}" class="no-underline text-white text-lg">
                Kelib tushgan yangi arizalar soni
            </a>
        </div>
    </div>

    <div class="shadow bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_tekshirilmoqda' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                 {{app_status_tekshirilmoqda}}
            </a>
            <a href="{% url 'status_tekshirilmoqda' %}" class="no-underline text-white text-lg">
                Tekshirilmoqda
            </a>
        </div>
    </div>

    <div class="shadow bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_tekshirildi' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_status_tekshirildi}}
            </a>
            <a href="{% url 'status_tekshirildi' %}" class="no-underline text-white text-lg">
                Tekshirildi
            </a>
        </div>
    </div>
    <div class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_rad_etildi' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_status_rad_etildi}}
            </a>
            <a href="{% url 'status_rad_etildi' %}" class="no-underline text-white text-lg">
                Rad etildi
            </a>
        </div>
    </div>
</div>

<!-- /Stats Row Ends Here -->
{% endblock content %}



                    
               