{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<!-- Stats Row Starts Here -->

<div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <div class="shadow bg-nav border-l-8 hover:bg-nav-item border-nav mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'tablitsa' %}" class="no-underline text-white text-2xl">
                <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_count}}
            </a>
            <a href="{% url 'tablitsa' %}" class="no-underline text-white text-lg">
                Kelib tushgan umumiy arizalar soni
            </a>
        </div>
    </div>

    <div class="shadow bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_yangi' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_status_yangi}}
            </a>
            <a href="{% url 'status_yangi' %}" class="no-underline text-white text-lg">
                Kelib tushgan yangi arizalar soni
            </a>
        </div>
    </div>

    <div class="shadow bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_tekshirilmoqda' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                 {{app_status_tekshirilmoqda}}
            </a>
            <a href="{% url 'status_tekshirilmoqda' %}" class="no-underline text-white text-lg">
                Tekshirilmoqda
            </a>
        </div>
    </div>

    <div class="shadow bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_tekshirildi' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_status_tekshirildi}}
            </a>
            <a href="{% url 'status_tekshirildi' %}" class="no-underline text-white text-lg">
                Tekshirildi
            </a>
        </div>
    </div>
    <div class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
        <div class="p-4 flex flex-col">
            <a href="{% url 'status_rad_etildi' %}" class="no-underline text-white text-2xl">
                 <i class="fab fa-wpforms float-left mx-2"></i>
                {{app_status_rad_etildi}}
            </a>
            <a href="{% url 'status_rad_etildi' %}" class="no-underline text-white text-lg">
                Rad etildi
            </a>
        </div>
    </div><br>
    
</div>
<div  class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <canvas id="myChart13" style=" display: block; height: 300px;" width="600" height="300" class="chartjs-render-monitor"></canvas>
</div>  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var xValues = [100,200,300,400,500,600,700,800,900,1000];
    
    new Chart("myChart13", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{ 
          data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
          borderColor: " green",
          fill: false
        }, { 
          data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
          borderColor: "blue",
          fill: false
        }, { 
          data: [200,750,2040,5100,4580,4000,2100,1050,300,180],
          borderColor: "yellow",
          fill: false
        }, { 
          data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
          borderColor: "red",
          fill: false
        }]
      },
      options: {
        legend: {display: false}
      }
    });
    </script>
<!-- /Stats Row Ends Here -->
{% endblock content %}



                    
               